<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        GONE GIRL
      </h1>
      <h5>The E-Book</h5>
      <p class="lead mb-3">Read the most thrilling book of the year.</p>
      <form class="mb-3" action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="2500"
          data-name="Gone Girl"
          data-description="The Gone Girl Ebook"
          data-image="/img/marketplace.png"
          data-locale="auto"
          data-currency="cad">
        </script>
        <script>
          // Hide default stripe button / change it
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-dark text-white btn-lg">Purchase for $25</button>
      </form>
    </div>
    <div class="col-md-6 text-center">
        <img src="/img/book.jpg" class="img-fluid">
    </div>
  </div>
</section>
