<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node SMS Texting</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightseagreen;
    }
  </style>
</head>
<body>
  <div class="ui text container">
    <div class="ui raised segment">
      <h2>Send SMS Message</h2>
      <div class="ui input">
        <input type="tel" name="number" id="number" placeholder="Enter a phone number..">
      </div>
      <div class="ui input">
        <input type="text" class="ui input" name="message" id="message" placeholder="Your text message goes here...">
      </div>
      <input type="button" id="button" value="Send" class="ui inverted green large button">
      <p class="response"></p>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
