<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node Image Uploader</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  <style>
    body {
      background-color: lightseagreen;
    }
    .space {
      height: 20vh;
    }
    .space-sm {
      height: 3vh;
    }
  </style>
</head>
<body>
  <div class="space"></div>
  <div class="ui text container">
    <div class="ui very padded segment">
      <h1>File Upload</h1>
      <%= typeof msg != 'undefined' ? msg: '' %>
      <form class="ui form" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="field">
          <label>Select File</label>
          <p>
            Flaw: It doesn't show the file name uploaded. 
          </p>
          <div class="ui action input">
            <input type="text" id="_file">
            <label for="file" class="ui icon button">
              <i class="file icon"></i>
              <input type="file" id="file" name="myImage" style="display: none">
            </label>
          </div>
        </div>
        <button class="ui primary button" type="submit">Upload</button>
      </form>
      <div class="space-sm"></div>
      <img src="<%= typeof file != 'undefined' ? file: '' %>" class="ui rounded centered bordered image" />
    </div>
  </div>
</body>
</html>
